<section>
    <div>
        <h2 class="mb-4"><?= isset( $_SESSION['id'] ) ? $_SESSION['palabra'] : 'Agregar nueva palabra'; ?></h2>
    </div>

    <form action="add-edit.php" method="POST">
        <div class="form-group">
            <label for="palabra">* Palabra</label>
            <input type="text" class="form-control <?= isset($errors['palabra']) ? 'is-invalid' : ''; ?>" name="palabra"
                id="palabra" autofocus value="<?= $data['palabra']; ?>" spellcheck="false" autocomplete="off"
                autocorrect="off" autocapitalize="off" maxlength="50">
            <div class="invalid-feedback"><?= $errors['palabra'] ?? ''; ?></div>
        </div>

        <div class="form-group">
            <label for="significado">* Significado</label>
            <textarea class="form-control <?= isset($errors['significado']) ? 'is-invalid' : ''; ?>" name="significado"
                id="significado" rows="4" spellcheck="false" autocomplete="off" autocorrect="off"
                autocapitalize="off"><?= $data['significado']; ?></textarea>
            <div class="invalid-feedback"><?= $errors['significado'] ?? ''; ?></div>
        </div>

        <div class="form-group">
            <label for="ejemplo">Ejemplo</label>
            <textarea class="form-control" name="ejemplo" id="ejemplo" rows="3" spellcheck="false" autocomplete="off"
                autocorrect="off" autocapitalize="off"><?= $data['ejemplo']; ?></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Guardar</button>
        <a class="btn btn-light" href="index.php">Cancelar</a>
    </form>
</section>