<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Palabras">
    <meta name="keywords" content="HTML,CSS,JavaScript,PHP">
    <meta name="author" content="Julio Cesar">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <?php if(isset($title)): ?>
    <title>📖 Diccionario - <?= htmlspecialchars($title); ?></title>
    <?php else: ?>
    <title>📖 Diccionario - Mis palabras</title>
    <?php endif; ?>

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap CSS v4.6.0 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- jQuery UI -->
    <link rel="stylesheet" href="jquery-ui-1.12.1.custom/jquery-ui.min.css">

    <!-- DataTables -->
    <link rel="stylesheet" href="css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="css/responsive.bootstrap4.min.css">

    <!-- Styles -->
    <link rel="stylesheet" href="css/main.css">

    <style>
        #dark-mode-button {
            border: 0;
            padding: 0;
            margin: 0;
            background-color: transparent;
            cursor: pointer;
            font-family: emoji;
            line-height: 1;
            font-size: 26px;
        }

        .dark {
            background-color: rgb(28, 27, 34);/*#1c1b22*/
            color: rgb(251, 251, 254);
        }

        #dark-mode-button:focus {
            outline: none;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const btnEl = document.querySelector('#dark-mode-button');
            if (localStorage.getItem('theme')) { darkLightTheme(btnEl); }
            initDarkLightTheme(btnEl);
        });

        function initDarkLightTheme(el) {
            el.onclick = function (e) { return darkLightTheme(this); }
        }

        function darkLightTheme(el) {
            if (el.innerText === '🌙') {
                el.innerText = '☀️';
                localStorage.setItem('theme', 'dark');
            } else {
                el.innerText = '🌙';
                localStorage.removeItem('theme');
            }
            document.querySelector('body').classList.toggle('dark');
            if (document.querySelector('.table'))
                document.querySelector('.table').classList.toggle('dark');
        }
    </script>
</head>

<body>
    <header class="container mt-5">
        <style>
            .bge {
                position: absolute;top: 15px;left: 28.5px;
                font-size: medium;
                font-weight: 700;
            }
        </style>
        <div class="row align-items-center">
            <div class="col">
                <h1 class=""><a href="<?php echo Utils::createLink('home'); ?>"><span>📖
                    <span class="bge"><?php echo htmlspecialchars($total_words); ?></span>
                </span></a>
                    Mis palabras
                </h1>
            </div>
            <div class="col-auto">
                <button id="dark-mode-button">🌙</button>
            </div>
        </div>
        
    </header>

    <?php if($flashes): ?>
    <?php foreach($flashes as $flash): ?>
    <div class="alert alert-<?= htmlspecialchars($flash['class']); ?> text-center" role="alert" id="flashes">
        <?= htmlspecialchars($flash['message']);?>
    </div>
    <?php endforeach; ?>
    <?php endif; ?>

    <!-- Arriba y abajo 50px derecha y izquierda 0 margin: 30px 0;-->
    <main class="container my-5">
        <?php require $template; ?>
    </main>

    <footer class="small text-center text-muted">
        <div class="container">
            <div style="padding: 30px 0;">
                <p class="">&copy; 2017-
                    <?= htmlspecialchars( date("Y") ) ?> | Powered by JYS | All rights reserved.
                </p>
            </div>
        </div>
    </footer>

    <button onclick="topFunction()" id="myBtn" title="Subir"><span style="font-size: 14px;">Subir</span></button>

    <!-- jQuery JS v3.6.0 -->
    <script src="js/jquery-3.6.0.min.js"></script>

    <!-- Popper JS v1.16.1 -->
    <script src="js/popper.min.js"></script>

    <!-- Bootstrap JS v4.6.0 -->
    <script src="js/bootstrap.min.js"></script>

    <!-- jQuery UI -->
    <script src="jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

    <!-- DataTables -->
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/dataTables.bootstrap4.min.js"></script>
    <script src="js/dataTables.responsive.min.js"></script>
    <script src="js/responsive.bootstrap4.min.js"></script>

    <!-- Scripts propios -->
    <script src="js/datatable.js"></script>
    <script src="js/main.js"></script>

    <noscript>Your browser does not support JavaScript!</noscript>
</body>

</html>