/* RESET STYLES */
*:hover,
*:focus,
*:active {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-color: inherit;
}

label {
    margin-bottom: .25rem;
    font-weight: 700;
}

.material-icons {
    font-size: 22px;
    color: #0E1B55;
    margin: 0 4px;
}

.material-icons.logo {
    margin: 0;
    font-size: 48px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #545b62;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #5a6268;
}