/* RESET STYLES */
*:hover,
*:focus,
*:active {
    outline: none !important;
    box-shadow: none !important;
}

a {
    text-decoration: none !important;
}

.emoji {
    font-size: 16px;
    vertical-align: middle;
}

/* forms */
.form-control:focus {
    border-color: inherit;
}

label {
    margin-bottom: .25rem;
    font-weight: 700;
}

/* actions */
/*.actions {
    float: left;
    margin-left: 20px;
}*/

/* table */
table.detail th {
    text-align: left;
}

/*table.detail td {
    padding: .75rem;
}*/

/* icons */
.material-icons {
    font-size: 22px;
    color: #0E1B55;
    vertical-align: bottom;
}

.material-icons.logo {
    margin: 0;
    font-size: 52px;
}

.material-icons.top {
    font-size: 26px;
    color: white;
}

.material-icons.pdf {
    font-size: 24px;
    color: red;
}

/* Volver a arriba */
#gototop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #a51c30;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
}

#gototop:hover {
    background-color: #555;
}

/* Fin volver a arriba*/

.message {
    width: 700px;
    height: 1.5rem;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}

.message.show {
    height: auto;
    overflow: auto;
    white-space: normal;
    text-align: justify;
}

.message .expand-btn {
    cursor: pointer;
}
